*/*/*/run
*/*/*/reports
*/*/*/out.osw
*/*/test
.bundle/install
Gemfile.lock
.DS_Store
*/*/out.osw
*.html
*.zip
*.bnd
*.shd
*.sql
*.job
*/*/run/epluszsz.csv
*.eio
*/*/run/*/report.json
*/*/reports/view_model_report.json
